@model PagedList.PagedList<Inventory.Web.Models.ComponentVM>
@using PagedList
@using PagedList.Mvc


<!-- Pagination -->
@Html.PagedListPager(Model, page => Url.Action("AjaxComponentList", new { page }),
         PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "result"}))
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        <!-- Bootstrap modal popup -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Удаление</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="success-message"> Вы действительно хотите удалить запись? </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger delete-confirm">Да</button>
                        <button class="btn btn-default delete-cancel" data-dismiss="modal">Нет</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            modalRemovalWindow('/Component/Delete');
        </script>