@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background: #E0E8EF;
    color: #34495E;
    height: 100%;
}

.app-color {
    color: #34495E;
}
.app-link {
    transition: .3s;
}

    .app-link:hover,
    .app-color:hover {
        color: #3D556E !important;
    }

.app-link > i {
    width: 17.6px;
}
.app-link:hover {
    margin-left: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: 5px solid #34495E;
    border-bottom: 1px solid #34495E;
    border-top: 1px solid #34495E;
    border-right: 5px solid #34495E;
}
.app-link:active {
    margin-left: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: 5px solid #34495E;
    border-bottom: 1px solid #34495E;
    border-top: 1px solid #34495E;
    border-right: 5px solid #34495E;
    background-color: #34495E;
    color: #fff !important;
}
.app-link:active,
.app-link:focus,
.app-link:visited,
.app-link:hover {
    text-decoration: none !important;
}

.block {
    background-color: #f9f9f9;
    padding: 40px;
    overflow-x: auto;
    min-height: 85vh;
}
.block-title {
    color: #2E4052;
}
.pagination-info {
    font-size: 0.9em;
}

.app-btn {
    font-family: 'Roboto', sans-serif;
}
.app-btn-main {
    background-color: #34495E;
    color: #f9f9f9;
    border-radius: 3px !important;
}
    .app-btn-main:hover {
        background-color: #3A4F63 !important;
        color: #f9f9f9 !important;
    }
    .app-btn-main:active {
        background-color: #3A4F63 !important;
        color: #f9f9f9 !important;
    }
    .app-btn-main:focus {
        background-color: #3A4F63 !important;
        color: #f9f9f9 !important;
        box-shadow: none !important;
    }

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

.navbar {
    padding: 15px 10px;
    background: #f9f9f9 !important;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 56px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #34495E;
    color: #7DAFE1;
    transition: all 0.1s;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 12px 0px 8px 0px;
        letter-spacing: 0.1em;
        color: #fff;
        background: #2E4E6F;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1em;
        display: block;
    }

        #sidebar ul li a:hover {
            background: #3A4F63;
        }

    #sidebar ul li.active > a,
    a.dropdown-toggle[aria-expanded="true"],
    a.dropdown-toggle[aria-expanded="true"] > i,
    li.active > a > i {
        color: #FA8646;
        background: #3A4F63;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #34495E;
}

ul.account {
    padding: 20px;
}

    ul.account a {
        color: #6295C7;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.icon {
    color: #A3BCD9;
    padding-right: 10px;
    width: 27.95px;
}
.icon-muted {
    color: #5D7E9F;
    padding-right: 10px;
    width: 23.08px;
}

.list-unstyled > li > a {
    letter-spacing: 0.05em;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 80px 40px 40px 40px;
    min-height: 100vh; /* 100vh */
    transition: all 0.1s;
    position: absolute;
    top: 0;
    right: 0;
}

    #content.active,
    .navbar.active {
        width: 100%;
    }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 460px) {
    .logged-as {
        display: none;
    }
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content,
    .navbar {
        width: 100%;
    }

        #content.active,
        .navbar.active {
            width: calc(100% - 250px);
        }

    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    Design
----------------------------------------------------- */

.item-info-row {
    margin-left: 10px;
    border-bottom: 1px dashed #808080;
}

.chosen-container-single .chosen-single {
    border-radius: 0.25rem;
    color: #495057 !important;
}

.qrCodeField {
    width: 90%;
}
select:invalid {
    height: 0px !important;
    opacity: 0 !important;
    position: absolute !important;
    display: flex !important;
}

select:invalid[multiple] {
    margin-top: 15px !important;
}

.sub-element {
    margin-left: 10px;
}

.custom-card-style {
    border-radius: 0px !important;
}

#message-div {
    margin-top: -4px;
}
.message-div-close {
    cursor: pointer;
}

.item-block {

}