body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.item-info-row {
    margin-left: 10px;
    border-bottom: 1px dashed #808080;
}

.chosen-container-single .chosen-single {
    border-radius: 0.25rem;
    color: #495057 !important;
}

.qrCodeField {
    width: 90%;
}

.sub-element {
    margin-left: 10px;
}